<app-menu-compacto></app-menu-compacto>
<main>
    <section>
      <div class="container-fluid" style="margin-top: 150px;">
        <div class="justify-content-center row ">
          <div class="col-12 colsm-6 col-md-4">
            <form id="telaLogin">
              <div class="form-group text-center fonteTituloLogin m-0">
                <label>Login</label>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="fonteTxtL">Email</label>
                <input [(ngModel)]="usuarioLogin.usuario" type="text" name="usuario" class="form-control" id="usuario" placeholder="Informe seu email"
                  aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="fonteTxtL">Senha</label>
                <input [(ngModel)]="usuarioLogin.senha"  type="password" name="senha"     class="form-control" id="senha" placeholder="Insira sua senha">
                <small id="passwordHelpInline" class="text-muted">
                  A senha deve conter entre 8-15 caracteres
                </small>
                <!-- Link para Esqueceu a Senha -->
                <a href="#"><small id="esqueceuSenha" class="form-text text-muted text-xl-right p-1 ">Esqueceu sua
                    senha?</small></a>
              </div>
              <!-- Botao Entrar -->
              <button type="submit" class="btn bg-btn btn-lg btn-block text-light" (click)="logar()"(click)="doacao()">Entrar</button>
              <!-- Link para Cadastra-se -->
              <a routerLink="/cadastrar"><small id="cadastre"
                  class="form-text text-muted text-lg-center p-2">Cadastre-se</small></a>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main><!--  -->
