<div class="container">
    <form action="">
      <div class="row">
        <div class="col">
          <h3 class="title">Endereço</h3>
          <div class="inputBox">
            <span>Nome Completo</span>
            <input type="text" placeholder="nome" required>
          </div>
          <div class="inputBox">
            <span>email :</span>
            <input type="email" placeholder="exemplo@exemplo.com" required>
          </div>
          <div class="inputBox">
            <span>Endereço:</span>
            <input type="text" placeholder="Endereço" required>
          </div>
          <div class="inputBox">
            <span>Cidade:</span>
            <input type="text" placeholder="cidade" required>
          </div>
          <div class="flex">
            <div class="inputBox">
              <span>Estado :</span>
              <input type="text" placeholder="Estado" required maxlength="2">
            </div>
            <div class="inputBox">
              <span>CEP :</span>
              <input type="number" placeholder="cep" required maxlength="8">
            </div>
          </div>
          <button type="button" data-toggle="modal" data-target="#meuModal" class="submit-btn"> Finalizar </button>
        </div>
      </div>
    </form>
  </div>
  