<!-- Tela histórico de compras -->
<section>
    <div class="">
        <!-- Titulo -->
        <div class="text-center fonteTituloTxt" style="margin-top: 180px;">Histórico de compras</div>
        <!-- Fecha Titulo -->
        <!-- botão de pesquisa -->
        <form class="d-flex col-10 col-md-2 fonteBotao text-center align-items-center pl-4">
            <input class="form-control me-2 searchbg" type="search" placeholder="Busque seu pedido"
                aria-label="Pesquisa">
        </form>
        <!-- Fecha botão de pesquisa -->
        <!-- Tabela -->
        <div class="px-4" style="margin-bottom: 40px;">
            <div class="border mt-4 bg-branco font bordas-rounded-right-bottom bordas-rounded-left-top px-0">
                <div class="d-flex flex-column flex-md-row border bg-principal  bordas-rounded-left-top">
                    <div class="h5 color-branco col-12 col-md-3 mt-3"><label class="mx-3">Data do pedido</label></div>
                </div>
                <div class="d-flex flex-column container-flex no-gutters p-0 m-3 px-4 flex-md-row">
                    <div class="col-12 col-md-4 text-center">
                        <img class="img-item-comprados" src="">
                        <img class="img-item-comprados" src="">
                        <img class="img-item-comprados" src="">
                        <img class="img-item-comprados d-none d-md-inline" src="">
                    </div>
                    <div class="col-12  col-md-6 flex-column d-flex justify-content-center px-5 ">
                        <label class="">Status</label>
                        <label class="">Pedido nº</label>
                        <label class="">Total de itens</label>
                    </div>
                    <div class="d-none d-md-flex col-md-2 flex-column justify-content-center">
                        <button type="button" class="btn btn-success botao-height"><label class="">Visualizar
                                Compra</label></button>
                        <button type="button" class=" btn btn-success mt-2 botao-height"><label class="">
                                Comprar novamente</label></button>
                    </div>
                    <div class="border-top mt-2 px-0"></div>
                </div>
            </div>
            <div class=" col-12 d-flex d-md-none flex-column mt-2 ">
                <button type="button" class="d-md-none btn btn-success"><label class="">Visualizar
                        Compra</label></button>
                <button type="button" class=" d-md-none btn btn-success mt-2"><label class=""> Comprar
                        novamente</label></button>
            </div>
        </div>
    </div>
</section>