/* Fonte do título */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito:ital,wght@0,200;0,700;1,200&family=Radio+Canada:wght@400;600;700&display=swap');

/* cor de fundo do menu 1 */
.navbackground {
    background-color: #2D964C;
}

/* cor de fundo do menu 2 */
.navbackground2 {
    /* background-color: #75DC36; */
    /* usei rgb para controlar a opacidade */
    background: rgba(117, 220, 54, 0.8);
}

.bg-btn {
    /* background-color: #75DC36; */
    /* usei rgb para controlar a opacidade */
    background: rgba(117, 220, 54);
}

.bg-btn:hover{
    background-color: #2D964C;
}

/* diminui a opacidade do search */
.searchbg {
    background: rgba(255, 255, 255, 0.8);
}

/* aumentar o tamanho dos botões */
.btn-navbar2 {
    width: 150px;
}

/* dimensionamento de carrossel */
.dimcar {
    overflow: hidden;
    width: 2000px;
    height: 470px;
    margin: 0 auto;
}

/* dimensionamento da imagem de fundo página 1 */
.pngfundo1 {
    background-image: url("/assets/img/fundopagina01.png");
    background-size: 1350px 646px;
    max-width: 100%;
    height: auto;
}

/* dimensionamento da imagem de fundo pagina 2 */
.pngfundo2 {
    background-image: url("/assets/img/fundopagina2.png");
    max-width: 100%;
    height: auto;
}

/* fonte do nome da marca */
.fonteTitulo {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 2em;
    /* font-family: 'Radio Canada', sans-serif;
    font-family: Amatic SC; */
}

.fonteTituloLogin {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 3em;
    /* font-family: 'Radio Canada', sans-serif;
    font-family: Amatic SC; */
}

/* relacionado ao botão de usuario */
.line-height {
    line-height: 18px;
}

/* Ajuste da fazenda para ela mudar de cor */
#fazenda {
    transition: all ease 0.5s;
}



/* PÁGINA 2 */

.alinhamentoImg {
    justify-content: center;
    align-items: center;
    padding-left: 11rem;
}

.fonteTxt {
    font-family: 'Nunito', cursive;
    font-weight: lighter;
    font-size: 32px;
    /* font-family: 'Radio Canada', sans-serif;
    font-family: Amatic SC; */
}

.fonteTxtL {
    font-family: 'Nunito', cursive;
    font-weight: bold;
    font-size: 18px;
    /* font-family: 'Radio Canada', sans-serif;
    font-family: Amatic SC; */
}

.fonteTituloTxt {
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 50px;
    /* font-family: 'Radio Canada', sans-serif;
    font-family: Amatic SC; */
}

#telaLogin{
   padding: 20px;
   background-color: rgb(255, 255, 255);
   border-radius: 25px 0px 0px 25px;
   box-shadow: 1px 5px 50px rgba(73, 73, 73, 0.541);
   
}

#nav{
    margin-bottom: 150px;
}

#nav2{
    margin-top: 6em;
}
#esqueceuSenha, #cadastre{
    text-decoration: underline;
}