<div class="container-justify">
  <div class="row">
    <!-- carrossel -->
    <div class="col-md-12">
      <!-- carrossel -->
      <div
        id="carouselExampleInterval"
        class="carousel slide dimcar"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item active"
            style="opacity: 90%"
            data-interval="5000"
          >
            <img
              src="../../assets/img/PAG1/CARROSSEL/tela1.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p
                  class="fonteTxt"
                  style="font-size: 20px; font-weight: bolder"
                >
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img
              src="../../assets/img/PAG1/CARROSSEL/doações.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p
                  class="fonteTxt"
                  style="font-size: 20px; font-weight: bolder"
                >
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="opacity: 90%" data-interval="5000">
            <img
              src="../../assets/img/PAG1/CARROSSEL/veganoOrganico.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">Zero Crueldade Animal</h5>
                <p
                  class="fonteTxt"
                  style="font-size: 20px; font-weight: bolder"
                >
                  Todos os nossos produtos são veganos! Além de adotarmos um
                  sistema de produção em que não utilizamos NADA de origem
                  animal.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="opacity: 90%" data-interval="5000">
            <img
              src="../../assets/img/PAG1/CARROSSEL/doação.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p
                  class="fonteTxt"
                  style="font-size: 20px; font-weight: bolder"
                >
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="opacity: 90%" data-interval="5000">
            <img
              src="../../assets/img/PAG1/CARROSSEL/fazenda.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p
                  class="fonteTxt"
                  style="font-size: 20px; font-weight: bolder"
                >
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-target="#carouselExampleInterval"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-target="#carouselExampleInterval"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
      <!-- Carrossel fim -->
    </div>
  </div>
</div>

<!-- Catalogo de Produtos -->

<!--Textos -->
<div class="col-xl-12 text-center mt-5">
  <h2 class="fonteTituloTxt" style="color: black">Confira os Produtos</h2>
  <p class="text-muted fonteTxt">
    Nossa produção é certificada como orgânica por produzir alimentos cultivados
    com adubos naturais e defensivos biológicos, portanto, livres de
    agrotóxicos, adubos químicos ou hormônios, com respeito ao solo, os lençóis
    freáticos e os ri.
  </p>
</div>

<section class="listas">
  <div class="container">
    <owl-carousel-o [options]="listaFrutas">
     
       
      <ng-template carouselSlide *ngFor="let produto of listaProdutos.slice(0,10)">
        <!-- <div *ngIf="produto.categoria.id == 1"> -->
          <div class="p-1 flip-card">
            <div class="card mb-2 mr-3 flip-card-inner">
              <img
                class="card-img-top"
                [src]="produto.imagem"
                alt="{{ produto.categoria }}"
                style="border-radius: 20px"
              />
              <div class="card-body">
                <h4 class="card-title">{{ produto.nome }}</h4>
                <div class="produtos-stars">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>
                </div>
                <strong class="produtos-preco">{{ produto.preco }}</strong>
              </div>
              <div class="card flip-card-back align align-items-center">
                <a
                  routerLink="/perfil-produto"
                  target="_blank"
                  style="text-decoration: none; color: inherit"
                ></a>
                <h2>{{ produto.nome }}</h2>
                <p style="border: none; height: 160px">
                  {{ produto.descricao }}
                </p>
                <button
                  type="button"
                  class="btn btn-light"
                  style="width: 160px"
                >
                  Adicionar ao Carrinho
                </button>
              </div>
            
          </div>
       </div>
      </ng-template>
    
    </owl-carousel-o>
  </div>
</section>

<section class="listas">
  <div class="container">
    <owl-carousel-o [options]="listaVerduras">
      
      <ng-template carouselSlide *ngFor="let produto of listaProdutos.slice(10,20)">
        <!-- <div *ngIf="produto.categoria.id == 3"> -->
          <div class="p-1 flip-card">
            <div class="card mb-2 mr-3 flip-card-inner">
              <img
                class="card-img-top"
                [src]="produto.imagem"
                alt="{{ produto.categoria }}"
                style="border-radius: 20px"
              />
              <div class="card-body">
                <h4 class="card-title">{{ produto.nome }}</h4>
                <div class="produtos-stars">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>
                </div>
                <strong class="produtos-preco">{{ produto.preco }}</strong>
              </div>
              <div class="card flip-card-back align align-items-center">
                <a
                  routerLink="/perfil-produto"
                  target="_blank"
                  style="text-decoration: none; color: inherit"
                ></a>
                <h2>{{ produto.nome }}</h2>
                <p style="border: none; height: 160px">
                  {{ produto.descricao }}
                </p>
                <button
                  type="button"
                  class="btn btn-light"
                  style="width: 160px"
                >
                  Adicionar ao Carrinho
                </button>
              </div>
            </div>
          </div>
       <!-- </div> -->
      </ng-template>
    </owl-carousel-o>
  </div>
</section>


<section class="listas">
  <div class="container">
    <owl-carousel-o [options]="listaLegumes">
      
      <ng-template carouselSlide *ngFor="let produto of listaProdutos.slice(20,30)">
        <!-- <div *ngIf="produto.categoria.id == 3"> -->
          <div class="p-1 flip-card">
            <div class="card mb-2 mr-3 flip-card-inner">
              <img
                class="card-img-top"
                [src]="produto.imagem"
                alt="{{ produto.categoria }}"
                style="border-radius: 20px"
              />
              <div class="card-body">
                <h4 class="card-title">{{ produto.nome }}</h4>
                <div class="produtos-stars">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>

                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-star-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>
                </div>
                <strong class="produtos-preco">{{ produto.preco }}</strong>
              </div>
              <div class="card flip-card-back align align-items-center">
                <a
                  routerLink="/perfil-produto"
                  target="_blank"
                  style="text-decoration: none; color: inherit"
                ></a>
                <h2>{{ produto.nome }}</h2>
                <p style="border: none; height: 160px">
                  {{ produto.descricao }}
                </p>
                <button
                  type="button"
                  class="btn btn-light"
                  style="width: 160px"
                >
                  Adicionar ao Carrinho
                </button>
              </div>
            </div>
          </div>
       <!-- </div> -->
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
