<app-menu-compras></app-menu-compras>
<div class="container-justify">
  <div class="row">
    <!-- carrossel -->
    <div class="col-md-12">
      <!-- carrossel -->
      <div id="carouselExampleInterval" class="carousel slide dimcar" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="opacity: 90%" data-interval="5000">
            <img src="../../assets/img/PAG1/CARROSSEL/tela1.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p class="fonteTxt" style="font-size: 20px; font-weight: bolder">
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="../../assets/img/PAG1/CARROSSEL/doações.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p class="fonteTxt" style="font-size: 20px; font-weight: bolder">
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="opacity: 90%" data-interval="5000">
            <img src="../../assets/img/PAG1/CARROSSEL/veganoOrganico.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">Zero Crueldade Animal</h5>
                <p class="fonteTxt" style="font-size: 20px; font-weight: bolder">
                  Todos os nossos produtos são veganos! Além de adotarmos um
                  sistema de produção em que não utilizamos NADA de origem
                  animal.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="opacity: 90%" data-interval="5000">
            <img src="../../assets/img/PAG1/CARROSSEL/doação.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p class="fonteTxt" style="font-size: 20px; font-weight: bolder">
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="opacity: 90%" data-interval="5000">
            <img src="../../assets/img/PAG1/CARROSSEL/fazenda.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div class="fundoCaixa corTextoCarrossel">
                <h5 class="fonteTituloTxt">First slide label</h5>
                <p class="fonteTxt" style="font-size: 20px; font-weight: bolder">
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
      <!-- Carrossel fim -->
    </div>
  </div>
</div>

<!-- Catalogo de Produtos -->

<!--Textos -->
<div class="col-xl-12 text-center mt-5">
  <h2 class="fonteTituloTxt" style="color: black">Confira os Produtos</h2>
  <p class="text-muted fonteTxt">
    Nossa produção é certificada como orgânica por produzir alimentos cultivados
    com adubos naturais e defensivos biológicos, portanto, livres de
    agrotóxicos, adubos químicos ou hormônios, com respeito ao solo, os lençóis
    freáticos e os ri.
  </p>
</div>


<h3 class="text-center fonteTituloTxt d-grid gap-3" id="frutas">Frutas</h3>

<!-- Carrossel -->
<section class="listas" >
 <div class="container">
    <owl-carousel-o [options]="listaFrutas">
      <ng-template carouselSlide *ngFor="let produto of listaProdutos.slice(0, 10)">
        <div class="p-1 flip-card">
          <div class="card mb-2 mr-3 flip-card-inner">
            <img class="card-img-top" [src]="produto.imagem" alt="{{ produto.categoria }}"
              style="border-radius: 20px" />
            <div class="card-body">
              <h4 class="card-title font-produtos">{{ produto.nome }}</h4>
              <div class="produtos-stars">
                <img
                  src="../../assets/img/stars.jpg"
                  class="mx-auto d-block"
                  style="width: 100px"
                />
              </div>
              <strong class="produtos-preco">R$ {{ produto.preco }}</strong>
            </div>
            <div class="card flip-card-back align align-items-center">
                <h2>{{ produto.nome }}</h2>
                <p style="border: none; height: 160px">
                  {{ produto.descricao }}
                </p>
                <!-- Button trigger modal -->
                <button (click)="mostrarProduto(produto)" type="button" class="btn btn-light mt-2 mb-3 btn-cadastro" data-toggle="modal"
                  data-target="#ExemploModalCentralizado">
                  Mais Informações
                </button>
                <!-- Bota adicionar carrinho -->
                <button type="button" class="btn btn-light" style="width: 160px"
                  (click)="adicionarCarrinho(produto)">
                  Adicionar ao Carrinho
                </button>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>



<section class="listas mt-5" id="verduras">
<div class="container">
  <h3 class="text-center fonteTituloTxt" >Verduras</h3>
    <owl-carousel-o [options]="listaVerduras">
      <ng-template carouselSlide *ngFor="let produto of listaProdutos.slice(10, 20)">
        <div class="p-1 flip-card">
          <div class="card mb-2 mr-3 flip-card-inner">
            <img class="card-img-top" [src]="produto.imagem" alt="{{ produto.categoria }}"
              style="border-radius: 20px" />
            <div class="card-body">
              <h4 class="card-title font-produtos">{{ produto.nome }}</h4>
              <div class="produtos-stars">
                <img
                  src="../../assets/img/stars.jpg"
                  class="mx-auto d-block"
                  style="width: 100px"
                />
              </div>
              <strong class="produtos-preco">R$ {{ produto.preco }}</strong>
            </div>
            <div class="card flip-card-back align align-items-center">
                <h2>{{ produto.nome }}</h2>
                <p style="border: none; height: 160px">
                  {{ produto.descricao }}
                </p>
                <!-- Button trigger modal -->
                <button (click)="mostrarProduto(produto)" type="button" class="btn btn-light mt-2 mb-3 btn-cadastro" data-toggle="modal"
                  data-target="#ExemploModalCentralizado">
                  Mais Informações
                </button>
                <!-- Botão Adicionar Carrinho -->
                <button type="button" class="btn btn-light" style="width: 160px"
                (click)="adicionarCarrinho(produto)">
                Adicionar ao Carrinho
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>



<section class="listas mt-5" id="legumes">
  <div class="container">
    <h3 class="text-center fonteTituloTxt" >Legumes</h3>
    <owl-carousel-o [options]="listaLegumes">
      <ng-template
        carouselSlide
        *ngFor="let produto of listaProdutos.slice(20, 30)"
      >   
        <div class="p-1 flip-card">
          <div class="card mb-2 mr-3 flip-card-inner">
            <img class="card-img-top" [src]="produto.imagem" alt="{{ produto.categoria }}"
              style="border-radius: 20px" />
            <div class="card-body">
              <h4 class="card-title font-produtos">{{ produto.nome }}</h4>
              <div class="produtos-stars">
                <img
                  src="../../assets/img/stars.jpg"
                  class="mx-auto d-block"
                  style="width: 100px"
                />
              </div>
              <strong class="produtos-preco">R$ {{ produto.preco }}</strong>
            </div>
            <div class="card flip-card-back align align-items-center">  
                <h2>{{ produto.nome }}</h2>
                <p style="border: none; height: 160px">
                  {{ produto.descricao }}
                </p>
               
                <!-- Button trigger modal -->
                <button (click)="mostrarProduto(produto)" type="button" class="btn btn-light mt-2 mb-3 btn-cadastro" data-toggle="modal"
                  data-target="#ExemploModalCentralizado">
                  Mais Informações
                </button>
                <!-- Botão Adicionar Carrinho -->
              <button type="button" class="btn btn-light" style="width: 160px"
              (click)="adicionarCarrinho(produto)">
              Adicionar ao Carrinho
            </button>
            </div>
          </div>
        </div>
      <!-- </div> -->
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">{{produtoEsp.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>