/* -------FONTES--------- */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito:ital,wght@0,200;0,700;1,200&family=Radio+Canada:wght@400;600;700&display=swap');

/* fonte do título */
.fonteTituloTxt {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 50px;
}

/* alinha as imagens*/
.alinhamentoImg {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 0;
}

/* cadastro */

#telaCadastro {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 0px 25px 0px;
    box-shadow: 1px 5px 50px rgba(73, 73, 73, 0.541);
    margin-bottom: 20px;

}

.fonteTituloCadastro {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 3em;
}

