<div class="container" style="margin-top: 250px;">
    <h1>Cadastro de endereco</h1>
    <div class="container">
        <section>
            <div class="container-fluid" style="margin-top: 200px">
              <div class="justify-content-center row">
                <div class="col-12 colsm-6 col-md-6">
                  <form class="needs-validation" novalidate id="telaEndereco">
                    <div class="form-group text-center fonteTituloEndereco m-0 p-0">
                      <label>Endereço</label>
                    </div>
        
                    <!--Logradouro-->
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="nome">Logradouro*</label>
                        <input
                        [(ngModel)]="endereco.logradouro"
                          name="logradouro"
                          type="text"
                          class="form-control"
                          id="logradouro"
                          placeholder="logradouro"
                          required
                        />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label for="nome">Nº*</label>
                          <input
                          [(ngModel)]="endereco.numero"
                            name="numero"
                            type="text"
                            class="form-control"
                            id="numero"
                            placeholder="numero"
                            required
                          />
                          </div>
                      </div>
        
                    <div class="form-row">
                      <!--CEP-->
                      <div class="col-md-4 mb-3">
                        <label for="cpf">CEP*</label>
                        <input
                        [(ngModel)]="endereco.cep"      
                        name="cep"        
                        type="cep"
                        class="form-control"
                        id="cep"
                        placeholder="__-__"
                        minlength="8"
                        maxlength="8"
                        required
                        oninput="mascara(this,'cep')"
                        />
                      </div>
        
                      <!--Cidade-->
                      <div class="col-md-4 mb-3">
                        <label for="telefone">Cidade*</label>
                        <input
                        [(ngModel)]="endereco.localidade"
                          name="localidade"
                          type="text"
                          class="form-control"
                          placeholder="Cidade"
                          id="Cidade"
                          required
                          />
                        </div>
        
                      <!--UF-->
                      <div class="col-md-4 mb-3">
                        <label for="data">UF*</label>
                              <select [(ngModel)]="endereco.uf" name="uf" class="form-control">
                              <option value="">Selecione</option>
                              <option value="AC">Acre</option>
                              <option value="AL">Alagoas</option>
                              <option value="AP">Amapá</option>
                              <option value="AM">Amazonas</option>
                              <option value="BA">Bahia</option>
                              <option value="CE">Ceará</option>
                              <option value="DF">Distrito Federal</option>
                              <option value="ES">Espirito Santo</option>
                              <option value="GO">Goiás</option>
                              <option value="MA">Maranhão</option>
                              <option value="MS">Mato Grosso do Sul</option>
                              <option value="MT">Mato Grosso</option>
                              <option value="MG">Minas Gerais</option>
                              <option value="PA">Pará</option>
                              <option value="PB">Paraíba</option>
                              <option value="PR">Paraná</option>
                              <option value="PE">Pernambuco</option>
                              <option value="PI">Piauí</option>
                              <option value="RJ">Rio de Janeiro</option>
                              <option value="RN">Rio Grande do Norte</option>
                              <option value="RS">Rio Grande do Sul</option>
                              <option value="RO">Rondônia</option>
                              <option value="RR">Roraima</option>
                              <option value="SC">Santa Catarina</option>
                              <option value="SP">São Paulo</option>
                              <option value="SE">Sergipe</option>
                              <option value="TO">Tocantins</option>
                          </select>
                       </div>
                    </div>
        
                    <!-- Bairro -->
                    <div class="form-row align-items-center" >
                      <div class="col-md-6">
                        <label for="bairro">Bairro*</label>
                        <input
                        [(ngModel)]="endereco.bairro"
                          type="bairro"
                          class="form-control"
                          id="bairro"
                          name="bairro"
                          placeholder="Bairro"
                          minlength="2"
                          maxlength="100"
                          required
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Fim formulario-->
          </section>
    </div>



    <h1>Registro armazenado do usuario</h1>
    <p>{{usuario.nome}}</p>
    


    <h1>Analise do Pedido</h1>

    <div *ngFor="let produto of cartItems;">
        <img class="img-fluid img-item-carrinho"[src]="produto.imagem" style="max-width: 100px; max-height: 100px;">
        <p>{{produto.nome}}</p>
        <p>{{produto.preco}}</p>
        <p>{{produto.qtd}}</p>
    </div>


    <p>Quantidade Total: {{ quantidadeTotal }}</p> 
    <p>Valor Total: R$ {{ precoTotal }}</p>



    <button (click)="emitirPedido()">Criar Pedido</button>
</div>
