/* ----------CORES GERAIS DO PROJETO--------- */
/* cor do fundo do site */
html {
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #FCF2B8;
    margin-top: 20px;
}
