<!-- SEGUNDA NAVBAR -->
<!-- style="margin-top serve para ajustar o local da navbar" -->
<nav class="navbar navbar nav2 navbar-expand-lg navbar-light navbackground2 sombreamento justify-content-center" style="margin-top: 7em;">
    <div class="container-fluid-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- botão início -->
                <li class="nav-item fonteBotao">
                    <a href="#inicio"><button type="button"
                            class="btn btn-outline-light btn-navbar2">Início</button></a>
                </li>
                <!-- botão certificações -->
                <li class="nav-item ml-5 fonteBotao">
                    <a href="#certificados"><button type="button"
                            class="btn btn-outline-light btn-navbar2">Certificações</button></a>
                </li>
                <!-- botão sobre nós -->
                <li class="nav-item ml-5 fonteBotao">
                    <a href="#sobreNos"><button type="button" class="btn btn-outline-light btn-navbar2">Sobre
                            Nós</button></a>
                </li>
                <!-- botão missão -->
                <li class="nav-item ml-5 fonteBotao">
                    <a href="#missao"><button type="button"
                            class="btn btn-outline-light btn-navbar2">Missão</button></a>
                </li>
                <!-- botão equipe -->
                <li class="nav-item ml-5 fonteBotao">
                    <a href="#equipe"><button type="button"
                            class="btn btn-outline-light btn-navbar2">Equipe</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
