.fonteTituloTxt {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 50px;
}

/* cadastro */
#telaCadastro {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 0px 25px 0px;
    box-shadow: 1px 5px 50px rgba(73, 73, 73, 0.541);
    margin-bottom: 20px;

}