<!-- SEGUNDA NAVBAR -->
<nav class="navbar navbar nav2 navbar-expand-lg navbar-light navbackground2 sombreamento d-flex justify-content-center mb-5"
    style="margin-top: 7em;">
    <div class="container-fluid-center">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <!-- botão frutas -->
                <li class="nav-item fonteBotao ">
                    <a href="#frutas"><button type="button"
                            class="btn btn-outline-light btn-navbar2">Frutas</button></a>
                </li>
                <!-- botão verduras -->
                <li class="nav-item fonteBotao ml-5">
                    <a href="#verduras"><button type="button"
                            class="btn btn-outline-light btn-navbar2">Verduras</button></a>
                </li>
                <!-- botão legumes -->
                <li class="nav-item fonteBotao ml-5">
                    <a href="#legumes"><button type="button"
                            class="btn btn-outline-light btn-navbar2">Legumes</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>