<section>
  <div class="px-2">
    <!-- Titulo -->
    <div class="text-center fonteTituloTxt" style="margin-top: 180px;">Cesta de compras</div>
    <!-- Fecha Titulo -->
    <!-- Tabela -->
    <div class="bordas-rounded-right-bottom bg-branco container px-0 mx-auto bordas-rounded-left-top fonteBasica">
      <!-- <div *ngIf="mostrarCarrinho"> -->
      <div
        class="h5 header-carrinho text-uppercase d-none d-md-flex bg-principal color-branco align-items-center fonteTxt">
        <div class="col-2  p-2 text-center">Produto</div>
        <div class="col-2  p-2 text-center">Nome</div>
        <div class="col-2  p-2 text-center">Preço</div>
        <div class="col-2  p-2 text-center">Quantidade</div>
        <div class="col-2  p-2 text-center">Sub-total</div>
        <div class="col-2  p-2 text-center">Remover item</div>
      </div>
      <!-- mostrarCarrinho -->
      <div class="d-flex flex-column flex-md-row align-items-center border-bottom fonteBasica"
        *ngFor="let produto of itensCarrinho;">
        <div class="col-12 col-md-2 d-flex d-md-block justify-content-between align-items-center p-2 mt-0 text-center">
          <label class="d-md-none">Produto</label><img class="img-fluid img-item-carrinho" [src]="produto.imagem"></div>
        <div class="col-12 col-md-2 d-flex d-md-block justify-content-between align-items-center  p-2  text-center">
          <label class="d-md-none">Nome</label> {{ produto.nome }}
        </div>
        <div class="col-12 col-md-2 d-flex d-md-block justify-content-between align-items-center  p-2  text-center">
          <label class="d-md-none">Preço</label>R$ {{ produto.preco }}
        </div>
        <div class="col-12 col-md-2 d-flex d-md-block justify-content-between align-items-center  p-2  text-center">
          <label class="d-md-none">Qtd</label>
          <div class="d-flex quantidade-carrinho">
            <button class="col-4  m-0 botao-subtrai btn text-center" type="button" id="button-addon"
              (click)="decrementarQuantidade(produto)"></button>
            <input type="text" class="col-4  m-0 form-control text-center" style="width: 5px; " placeholder="0"
              aria-label="button addon" value="{{produto.qtd}}" aria-describedby="button-addon">
            <button class="col-4 botao-soma btn text-center" type="button" id="button-addon"
              (click)="incrementarQuantidade(produto)"></button>
          </div>
        </div>

        <div class="col-12 col-md-2 d-flex d-md-block justify-content-between align-items-center  p-2  text-center">
          <label class="d-md-none">Sub-total</label> {{ calculaSubTotal(produto.preco,produto.qtd) }}
        </div>
        <div class="col-12 col-md-2 d-flex d-md-block justify-content-between align-items-center  p-2  text-center">
          <label class="d-md-none">Remover item</label> <button class="col-4 col-lg-4 botao-lixo text-center btn"
            (click)="removerItemCarrinho(produto)" type="button" id="button-addon"></button></div>
      </div>
      <div class="d-flex justify-content-center">
        <h3><strong>Total: {{ precoTotal | currency: 'BRL' }}</strong></h3>
      </div>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-end">
        <button type="button" class="btn btn-danger mt-2 mb-3 btn-cadastro ml-3" (click)="excluiTodosItens()">Excluir
          Tudo</button>
      </div>
    </div>

    <!-- Fecha tabela -->
    <div class="col-12 d-flex d-md-block flex-column flex-md-row text-center mt-2 mb-3">
      <button type="button" class=" mt-1 col-md-2 btn btn-success botao-height ml-2" routerLink="/catalogo">Continuar comprando</button>
      <button type="button " class="mt-1 col-md-2 btn btn-success botao-height ml-2" routerLink="/checkout">Finalizar
        Compra</button>
    </div>
  </div>
</section>

