<div class="position-absolut">
    <!-- Titulo -->
    <div class="text-center fonteTituloTxt" style="margin-top: 180px;">Cesta de compras</div>
    <!-- Fecha Titulo -->
    <!-- Tabela -->
    <div class="container" style="margin-top: 25px;">
        <div class="row mt-5 justify-content-center navbackground2 border"
            style="border-radius: 10px 10px 0 0; border-color: rgb(98, 123, 101);">
            <div class="fonteTxt text-center bg-sucsses col-md-3 p-0">Produto</div>
            <div class="fonteTxt text-center bg-sucsses col-md-3 p-0">Quantidade</div>
            <div class="fonteTxt text-center bg-sucsses col-md-3 p-0">Valor UN.</div>
            <div class="fonteTxt text-center bg-sucsses col-md-3 p-0">Subtotal</div>
        </div>

        <div class="row justify-content-center align-items-center border"
            style=" border-color: rgb(119, 133, 119); height: 115px;">

            <div class="bg-sucsses col-md-3">
                <img src="../../assets/img/imagemDeFundo.png" width="90px" class="img-fluid ml-3 mt-2" alt="...">
                <span class="ml-2 fonteTxt">Banana</span>
            </div>

            <div class="container col-md-3 row text-center d-flex justify-content-center">
                <button class="col-md-3 botao-subtrai text-center"
                    style="background-position:center; background-color: transparent; border: none; width: 35px; height: 35px;">
                </button>
                <div class="col-md-6 text-center border" type="number" style="height: 35px; width: 10px;"></div>
                <button class="col-md-3 text-center botao-soma"
                    style="background-position:center; background-color: transparent; border: none; width: 35px; height: 35px;">
                </button>
            </div>
            <div class="col-md-3 ml-2 fonteTxt text-center">5,00</div>
            <div class="col-md-3 ml-2 fonteTxt text-center">00,00</div>
        </div>



        <!-- Fecha tabela -->


        <div class="row my-3">

            <div class=" col-6 text-center">
                <button type="button " class="btn btn-outline-success ">Valor Total com frete:</button>
                <input class="btn border border-2 col-md-2">
            </div>

            <div class=" col-6 text-center ">
                <button type="button " class="btn btn-success col-md-3">Finalizar Compra</button>
            </div>
        </div>