/* -------CONFIGURAÇÕES DE TEXTO------- */
/* configura o texto da página 1 */
.configTxt {
    overflow: hidden;
    max-height: 1000px;
    height: 400px;
    max-width: 500px;
    width: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 160px;
    margin-bottom: 150px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 20px;
}

/* fonte do nome da marca */
.fonteTitulo {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 2em;
    /* font-family: 'Radio Canada', sans-serif;
    font-family: Amatic SC; */
}

/* fonte para títulos */
.fonteTituloTxt {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 50px;
}

/* altera as cores das caixas de texto */
.coresCxTxt {
    background: rgb(252, 242, 184, 0.6);
}

/* fonte escolhida para os botões da aplicação */
.fonteBotao {
    font-family: 'Nunito', cursive;
    font-weight: bold;
    font-size: 35px;
}

/* altera a fonte dos textos da página 2 */
.fonteTxt {
    font-family: 'Nunito', cursive;
    font-weight: lighter;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
}

/* altera a fonte dos textos da página 1 */
.fonteTxtpg1 {
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 25px;
}

/*Stars*/
.produtos-stars {
    font-size: 10px;
}

.produtos-stars svg {
    fill: #FFC107;
}

/*Configurações da fonte - página produtos*/
.produtos-itens .font-produtos{
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 30px;
}

.produtos-preco {
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 25px;
}

.produtos-preco strong {
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 30x;
}

/* Estilo da tela-detalhes-produtos */
.btn-light {
    color: #212529;
    background-color: #dae0e5;
    border-color: #dae0e5;
  }
  
  .btn-light:hover {
    color: #212529;
    background-color: #addbbd;
    border-color: #addbbd;
  }

/* PRODUTOS RELACIONADOS */

.font-prod-relacionados {
    font-family: 'Nunito', cursive;
    font-weight: normal;
    font-size: 15px;
}

.font-prod-relacionados-preco{
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    font-size: 15px;
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: transparent;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }