[<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-6" style="margin-top:120px;">
      <img [src]="produto.imagem" alt="{{ produto.categoria }}" class="float-right">
    </div>

    <div class="col-md-6 mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6" style="margin-top:150px;">
          <h1 class="font-produtos">{{produto.nome}}</h1>
          <p>{{produto.descricao}}</p>
          <!-- Preço -->
          <strong class="produtos-preco">R$ {{produto.preco}}</strong>
          <!-- Seleção de quantidade de itens -->
          <form action="#">
            <div class="form-group">
              <label for="produtos-quantidade-itens">Quantidade</label>
              <select class="form-control" style="width: 60px">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <!-- Botões -->
            <button type="submit" class="btn btn-success mr-1">Comprar</button>
            <button type="submit" class="btn btn-light">Adicionar à Assinatura</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BOTÃO VEJA MAIS -->
<div class="d-flex justify-content-center mt-5 mb-4">
  <a routerLink="/catalogo" class="btn btn-success col-md-2">VEJA MAIS</a>
</div>