
<div
class="container-fluid mb-5"
id="foto-produto"
style="margin-top: 220px; margin-bottom: 1000px"
>
<div class="row">
  <div class="col-md-6" id="img-bg"></div>
  <div class="col-md-6 mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <h1 class="produtos-preco">Banata Prata</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar
          sed ex sit amet sollicitudin. Mauris sit amet aliquet arcu. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos.
        </p>
        <!-- stars -->
        <article class="produtos-preco">
          <div class="produtos-stars">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>

            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>

            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>

            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>

            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </div>
        </article>
        <!-- Preço -->
        <strong class="produtos-preco">R$ 9,90</strong>

        <!-- Seleção de quantidade de itens -->
        <form action="#">
          <div class="form-group">
            <label for="produtos-quantidade-itens">Quantidade</label>
            <select
              class="form-control"
              id="produtos-quantidade-itens"
              style="width: 60px"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <!-- Botões -->
          <button type="submit" class="btn btn-success col-md-6">
            Comprar
          </button>
          <button type="submit" class="btn btn-light row-cols-6 ml-5">
            Adicionar à assinatura
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Produtos sugeridos/relacionados -->

<!-- Produto 1 -->
<div class="container mb-5" id="produtos-relacionados">
<h2 class="fonteTituloTxt mb-5">Produtos Relacionados</h2>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card primary-bg-color">
      <img
        src="../../assets/img/itadori.jpg"
        class="card-img-top img-fluid"
        alt="produto1"
      />
      <div class="card-body">
        <h5 class="card-title">Couve Mateiga</h5>
        <p class="produtos-preco">R$7.63</p>
        <a href="#" class="btn btn-success">Adicionar ao Carrinho</a>
      </div>
    </div>
  </div>

  <!-- Produto 2 -->
  <div class="col-12 col-md-3">
    <div class="card primary-bg-color">
      <img
        src="../../assets/img/kaneki.png"
        class="card-img-top img-fluid"
        alt="produto2"
      />
      <div class="card-body">
        <h5 class="card-title">Morango</h5>
        <p class="produtos-preco">R$7.63</p>
        <a href="#" class="btn btn-success">Adicionar ao Carrinho</a>
      </div>
    </div>
  </div>

  <!-- Produto 3 -->
  <div class="col-12 col-md-3">
    <div class="card primary-bg-color">
      <img
        src="../../assets/img/itadori.jpg"
        class="card-img-top img-fluid"
        alt="produto3"
      />
      <div class="card-body">
        <h5 class="card-title">Cebola</h5>
        <p class="produtos-preco">R$7.63</p>
        <a href="#" class="btn btn-success">Adicionar ao Carrinho</a>
      </div>
    </div>
  </div>

  <!-- Produto 4 -->
  <div class="col-12 col-md-3">
    <div class="card primary-bg-color">
      <img
        src="../../assets/img/kaneki.png"
        class="card-img-top img-fluid"
        alt="produto4"
      />
      <div class="card-body">
        <h5 class="card-title">Alface Americana</h5>
        <p class="produtos-preco">R$7.63</p>
        <a href="#" class="btn btn-success">Adicionar ao Carrinho</a>
      </div>
    </div>
  </div>
</div>
</div>