<app-menu-apresentacao></app-menu-apresentacao>

<!-- PÁGINA 1 INÍCIO -->
<div class="container-justify" id="inicio">
    <div class="row">
        <!-- carrossel -->
        <div class="col-md-12">
            <!-- carrossel -->
            <div id="carouselExampleInterval" class="carousel slide dimcar" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="opacity: 90%;" data-interval="5000">
                        <img src="../../assets/img/PAG1/CARROSSEL/tela1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="fundoCaixa corTextoCarrossel">
                                <h5 class="fonteTituloTxt">O futuro é verde, e se faz junto!</h5>
                                <a routerLink="/catalogo"><button type="button"
                                        class="btn text-light btn-lg mt-1 navbackground2 bg-btn mb-3"
                                        style="border:0ch;">Conheça Nossa Loja!</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="../../assets/img/PAG1/CARROSSEL/doações.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="fundoCaixa corTextoCarrossel">
                                <h5 class="fonteTituloTxt">Compra = Doação</h5>
                                <p class="fonteTxt" style="font-size: 20px;  font-weight: bolder;">A cada compra
                                    efetuada em nossa loja, uma porcentagem do valor é diretamente direcionada à compra
                                    de cestas básicas para famílias carentes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="opacity: 90%;" data-interval="5000">
                        <img src="../../assets/img/PAG1/CARROSSEL/veganoOrganico.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="fundoCaixa corTextoCarrossel">
                                <h5 class="fonteTituloTxt">Zero Crueldade Animal</h5>
                                <p class="fonteTxt" style="font-size: 20px;  font-weight: bolder;">Todos os nossos
                                    produtos são veganos! Além de adotarmos um sistema de produção em que não
                                    utilizamos NADA de origem animal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="opacity: 90%;" data-interval="5000">
                        <img src="../../assets/img/PAG1/CARROSSEL/doação.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="fundoCaixa corTextoCarrossel">
                                <h5 class="fonteTituloTxt">Frete Grátis</h5>
                                <p class="fonteTxt" style="font-size: 20px;  font-weight: bolder;">Nosso meio de entrega
                                    possibilita acesso à toda cidade de São Paulo, atualmente contamos com frete grátis para toda região!</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="opacity: 90%;" data-interval="5000">
                        <img src="../../assets/img/PAG1/CARROSSEL/inverno.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="fundoCaixa corTextoCarrossel">
                                <h5 class="fonteTituloTxt">Frutos da Época</h5>
                                <p class="fonteTxt" style="font-size: 20px;  font-weight: bolder;">Respeitando a sazonalidade de nossos frutos... Bem-Vindos às vendas de Inverno!!! </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
            <!-- Carrossel fim -->
        </div>
    </div>
</div>


<!-- PÁGINA 2 CERTIFICADOS -->
<hr class="mt-5" style="margin-bottom: 180px;" id="certificados">
<div class="mt-5 mb-3 fonteTituloTxt">
    <div class="row text-center justify-content-center mb-1">
        <!-- Textos -->
        <div class="col-xl-6 col-lg-8">
            <h6 class=" text-uppercase fonteTituloTxt" style="color: black;">Certificações</h6>
            <!-- Gradient divider -->
            <hr data-content="AND" class="hr-text">
        </div>
    </div>
    <!-- certificados Cards -->
    <div class="container-fluid mb-5 mt-4 alinhamentoImg navbackground2 rootCert">
        <div class="row">
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/img/PAG1/CERTIFICADOS/seloOrganico.png" alt="Selo Orgânico"
                                style="width:200px;height:200px;">
                        </div>
                        <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                            <h2>Orgânico</h2>
                            <p>Produzimos alimentos sem o uso de agrotóxicos, aditivos e outros químicos!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/img/PAG1/CERTIFICADOS/seloSustentavel.png" alt="Selo Orgânico"
                                style="width:200px;height:200px;">
                        </div>
                        <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                            <h2>Sustentável</h2>
                            <p>Utilizamos energia limpa em nossa produção e nenhuma embalagem plástica!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/img/PAG1/CERTIFICADOS/seloVegano.png" alt="Selo Orgânico"
                                style="width:200px;height:200px;">
                        </div>
                        <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                            <h2>Vegano</h2>
                            <p>Não trabalhamos com produtos de origem animal e nem derivados!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TIMELINE -->
    <div class="container mt-5 text-light fonteTxt borda text-center">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row text-center justify-content-center mb-1">
                        <!-- Textos -->
                        <div class="col-xl-8">
                            <h2 class="fonteTituloTxt" style="color: black; font-size: 35px;">Qual Nosso
                                Diferencial?
                            </h2>
                            <div class="text-muted">
                                <p>Nossa produção é certificada como orgânica por produzir alimentos
                                    cultivados com adubos naturais e defensivos biológicos, portanto, livres de
                                    agrotóxicos,
                                    adubos químicos ou hormônios, com
                                    respeito ao solo, os lençóis freáticos e os rios.</p>
                                <p>Atuamos para contribuir com a
                                    conservação dos biomas agregando conhecimentos técnico-científicos, como a
                                    análise
                                    de
                                    impacto ao meio ambiente, aos modos de produção agroextrativistas da nossa
                                    comunidade,
                                    que são tradicionalmente passados de geração em geração. Nossos produtos são
                                    resultado
                                    de uma agricultura baseada em sustentabilidade, cultivo natural,
                                    equilíbrio ecológico e respeito ao homem.</p>
                            </div>
                        </div>
                    </div>
                    <!-- GIF -->
                    <div class="container-fluid alinhamentoImg mb-2">
                        <div class="row">
                            <img class="col">
                            <img src="assets/GIF/CERTIFICADOS.gif" alt="" style="height: 200px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                                <div class="timeline-step">
                                    <div class="timeline-content" data-toggle="popover" data-trigger="hover"
                                        data-placement="top" title=""
                                        data-content="And here's some amazing content. It's very engaging. Right?"
                                        data-original-title="2003">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1 fonteTituloTxt" style="color: black; font-size: 25px;">
                                            Saúde</p>
                                        <p class="h6 text-muted mb-0 mb-lg-0">Aqui não utilizamos nenhum químico
                                            prejudicial à sua saúde!</p>
                                    </div>
                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content" data-toggle="popover" data-trigger="hover"
                                        data-placement="top" title=""
                                        data-content="And here's some amazing content. It's very engaging. Right?"
                                        data-original-title="2004">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1 fonteTituloTxt" style="color: black; font-size: 25px;">Da
                                            Época</p>
                                        <p class="h6 text-muted mb-0 mb-lg-0">Nossa produção segue a sazonalidade de
                                            nossos frutos e seus ciclos naturais, logo você encontrará apenas
                                            alimentos
                                            fresquinhos da estação!</p>
                                    </div>

                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content" data-toggle="popover" data-trigger="hover"
                                        data-placement="top" title=""
                                        data-content="And here's some amazing content. It's very engaging. Right?"
                                        data-original-title="2005">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1 fonteTituloTxt" style="color: black; font-size: 25px;">
                                            Educação</p>
                                        <p class="h6 text-muted mb-0 mb-lg-0">Em nosso espaço, oferecemos visitações
                                            a
                                            escolas. Dessa forma, podemos conscientizar os mais jovens sobre a
                                            importância da conservação ao meio ambiente!</p>
                                        <a target="_blank" routerLink="/agendamento"><button type="button"
                                                class="btn text-light btn-sm mt-1 navbackground2 bg-btn"
                                                style="border:0ch;">Agendamentos</button></a>

                                    </div>
                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content" data-toggle="popover" data-trigger="hover"
                                        data-placement="top" title=""
                                        data-content="And here's some amazing content. It's very engaging. Right?"
                                        data-original-title="2010">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1 fonteTituloTxt" style="color: black; font-size: 25px;">
                                            Naturais</p>
                                        <p class="h6 text-muted mb-0 mb-lg-0">Nossos alimentos possuem aspecto 100%
                                            natural, como coloração e gosto acentuados!</p>
                                    </div>
                                </div>
                                <div class="timeline-step mb-0">
                                    <div class="timeline-content" data-toggle="popover" data-trigger="hover"
                                        data-placement="top" title=""
                                        data-content="And here's some amazing content. It's very engaging. Right?"
                                        data-original-title="2020">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1 fonteTituloTxt" style="color: black; font-size: 25px;">
                                            Doações</p>
                                        <p class="h6 text-muted mb-0 mb-lg-0">Com seu pedido, uma parte vai para a
                                            alimentação de famílias carentes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PÁGINA 3 SOBRE NÓS -->
<hr class="" style="margin-bottom: 180px;" id="sobreNos">
<!-- título -->
<div class="container-justify">
    <div class="mt-5 mb-2 fonteTituloTxt">
        <div class="row text-center justify-content-center mb-1">
            <!-- Textos -->
            <div class="col-xl-6 col-lg-8">
                <h6 class=" text-uppercase fonteTituloTxt" style="color: black;">Sobre Nós</h6>
                <!-- Gradient divider -->
                <hr data-content="AND" class="hr-text">
            </div>
        </div>
        <!-- texto -->
        <div class="container mb-5 mt-4">
            <div class="row mt-3">
                <div class="col-md-7">
                    <div class="text-muted text-center fonteTxt"
                        style="font-size: 20px; margin-top: 10px; margin-bottom: 10px;">
                        <p>A FazSolidária surgiu a
                            partir da união de sete pessoas com perfil profissional diversificado, mas que tinham em
                            comum a vontade de levar produtos orgânicos de qualidade, contribuir com o meio ambiente
                            e
                            impactar da melhor forma possível a comunidade local.</p>
                        <p>Para cumprir nosso propósito, estamos atentos a todas as tecnologias limpas que estão ao
                            nosso alcance, como a produção de alimentos com melhor valor nutricional, sabor original
                            (sem o uso de aditivos), a
                            conservação da fertilidade do solo, o uso de energia limpa e o menor impacto ambiental
                            possível.</p>
                        <p>Investimos ainda no envolvimento da comunidade, estimulando o conhecimento quanto à
                            produção
                            de alimentos de
                            forma sustentável e, ainda, atentos a proporcionar uma melhoria na qualidade de vida dos
                            nossos colaboradores.
                            Acreditamos que é possível praticar uma agricultura ambientalmente correta e socialmente
                            justa, se agirmos em conjunto, em prol das mudanças necessárias! E você, vem com a
                            gente?
                        </p>
                    </div>
                </div>
                <div class="col-md-5 align-center">
                    <img src="assets/GIF/sobreNos.gif" alt="" style="margin-top: 80px;">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PÁGINA 4 MISSÃO -->
<hr class="" style="margin-bottom: 180px;" id="missao">
<div class="mt-5 mb-3">
    <div class="row text-center justify-content-center mb-1">
        <!-- Textos -->
        <div class="col-xl-6 col-lg-8">
            <h6 class=" text-uppercase fonteTituloTxt" style="color: black;">Nossa Missão</h6>
            <!-- Gradient divider -->
            <hr data-content="AND" class="hr-text">

            <div class="text-muted fonteTxt" style="font-size: 20px;">
                <p>O projeto da FazSolidária envolve alimentação
                    saudável, livre de venenos, pensamento coletivo, cuidado e respeito com o meio ambiente,
                    responsabilidade social e educação.
                    Acreditamos no “fazer”, quando queremos que algo mude, precisamos agir para que aconteça.
                    Acreditamos no coletivo, sentimos a necessidade de olhar para o lado e caminhar juntos em prol
                    do
                    nosso objetivo. Assim, as chances de impactar de verdade e com grande alcance aumentam.</p>
                <p>Acreditamos no poder da educação, com investimento em conhecimento é possível enviar a
                    mensagem
                    que
                    queremos, para começar a ser aplicada agora e consolidada no futuro!
                    Nossa missão, portanto é revolucionar a alimentação saudável juntos do máximo de pessoas que
                    sintam
                    a necessidade de agir na construção do planeta que queremos.</p>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <!-- imagem -->
            <img src="../../assets/img/PAG1/BANNERS/missao.png" class="img-fluid" style="width: 1349px; height: 500px;"
                alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <!-- Título -->
                        <h2 class="col text-center fonteTituloTxt" style="font-size: 35px;">Programa de Doações</h2>
                    </div>
                    <!-- texto -->
                    <p class="text-muted text-center fonteTxt1" style="font-size: 20px;">Além de todo nosso cuidado
                        e
                        preocupação com relação a saúde de nossos clientes, nós também possuímos um programa de
                        doação para auxiliar famílias carentes.
                        Dessa forma, a cada compra efetuada em nosso site, uma porcentagem do valor vai diretamente
                        para a ONG Amigos do Bem que tem como o objetivo fornecer cestas básicas para famílias da
                        região de São Paulo!
                    </p>
                    <p class="text-muted text-center fonteTxt1">Você pode conhecer mais sobre a ONG acessando o link
                        abaixo:</p>
                    <a target="_blank" href="https://www.amigosdobem.org/"><button type="button"
                            class="btn text-light btn-sm navbackground2 bg-btn" style="border:0ch;">Acesso a
                            ONG!</button></a>
                </div>
                <div class="col-md-6 align-center">
                    <img src="assets/GIF/DOACAO.gif" alt="" style="height: 250px; margin-top: 50px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PÁGINA 5 NOSSA EQUIPE -->
<hr class="" style="margin-bottom: 180px;" id="equipe">
<div class="mt-5 mb-3">
    <div class="row text-center justify-content-center mb-1">
        <!-- Textos -->
        <div class="col-xl-6 col-lg-8">
            <h6 class=" text-uppercase fonteTituloTxt" style="color: black;">Nossa Equipe</h6>
            <!-- Gradient divider -->
            <hr data-content="AND" class="hr-text">

            <p class="text-muted fonteTxt" style="font-size: 20px;"></p>
        </div>
        <!-- certificados Cards -->
        <div class="container-fluid mb-0 mt-2 alinhamentoImg">
            <div class="row">
                <!-- Gerson -->
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/img/PAG1/NOS/gerson.jpg" alt="Selo Orgânico"
                                    style="width:200px;height:200px; border-radius: 20px;">
                            </div>
                            <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                                <h2>Gerson</h2>
                                <h2>R.Y.E</h2>
                                <!-- Linkedin -->
                                <li class="iconeCards iconeCardsLi">
                                    <a target="_blank" href="https://www.linkedin.com/in/gerson-ronaldo/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-linkedin mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16" aria-hidden="true">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                    </a>
                                    <!-- github -->
                                    <a target="_blank" href="https://github.com/GersonRYEhttps://github.com/GersonRYE">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-github mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Gustavo -->
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/img/PAG1/NOS/gustavo.jpeg" alt="Selo Orgânico"
                                    style="width:200px;height:200px; border-radius: 20px;">
                            </div>
                            <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                                <h2>Gustavo Araujo</h2>
                                <!-- Linkedin -->
                                <li class="iconeCards iconeCardsLi">
                                    <a target="_blank" href="https://www.linkedin.com/in/gustavo-asilva/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-linkedin mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16" aria-hidden="true">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                    </a>
                                    <!-- github -->
                                    <a target="_blank" href="https://github.com/Gusta-ASilva">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-github mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edu -->
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/img/PAG1/NOS/edu.jpg" alt="Selo Orgânico"
                                    style="width:200px;height:200px; border-radius: 20px;">
                            </div>
                            <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                                <h2>Eduardo Farias</h2>
                                <!-- Linkedin -->
                                <li class="iconeCards iconeCardsLi">
                                    <a target="_blank" href="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-linkedin mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16" aria-hidden="true">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                    </a>
                                    <!-- github -->
                                    <a target="_blank" href="https://github.com/Assisefa">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-github mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Wellington -->
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/img/PAG1/NOS/Wellington.jpeg" alt="Selo Orgânico"
                                    style="width:200px;height:200px; border-radius: 20px;">
                            </div>
                            <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                                <h2>Wellington Souza</h2>
                                <!-- Linkedin -->
                                <li class="iconeCards iconeCardsLi">
                                    <a target="_blank" href="https://www.linkedin.com/in/wellington-souza-34bb6033/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-linkedin mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16" aria-hidden="true">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                    </a>
                                    <!-- github -->
                                    <a target="_blank" href="https://github.com/Tonbsouza">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-github mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- certificados Cards -->
        <div class="container-fluid mb-5 mt-2 alinhamentoImg">
            <div class="row">
                <!-- Rafaela -->
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/img/PAG1/NOS/RAFAELA.jpeg" alt="Rafaela Papai"
                                    style="width:200px;height:200px; border-radius: 20px;">
                            </div>
                            <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                                <h2>Rafaela Papai</h2>
                                <!-- Linkedin -->
                                <li class="iconeCards iconeCardsLi">
                                    <a target="_blank" href="https://www.linkedin.com/in/rafaelapapai/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-linkedin mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16" aria-hidden="true">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                    </a>
                                    <!-- github -->
                                    <a target="_blank" href="https://github.com/SrtaPhantomhive">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-github mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Joyce -->
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/img/PAG1/NOS/Joyce.jpeg" alt="Selo Orgânico"
                                    style="width:200px;height:200px; border-radius: 20px;">
                            </div>
                            <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                                <h2>Joyce Meireles</h2>
                                <!-- Linkedin -->
                                <li class="iconeCards iconeCardsLi">
                                    <a target="_blank"
                                        href="https://www.linkedin.com/in/joyce-meireles-723a1a13ajoycemeireles/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-linkedin mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16" aria-hidden="true">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                    </a>
                                    <!-- github -->
                                    <a target="_blank" href="https://github.com/JoyceMeireles">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-github mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Juliana -->
                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/img/PAG1/NOS/Juliana.jpeg" alt="Selo Orgânico"
                                    style="width:200px;height:200px; border-radius: 20px;">
                            </div>
                            <div class="flip-card-back text-center centralizaTxt fonteTxt" style="font-size: 18px;">
                                <h2>Juliana Azevedo</h2>
                                <!-- Linkedin -->
                                <li class="iconeCards iconeCardsLi">
                                    <a target="_blank" href="https://www.linkedin.com/in/juliana-azevedo18">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-linkedin mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16" aria-hidden="true">
                                            <path
                                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                        </svg>
                                    </a>
                                    <!-- github -->
                                    <a target="_blank" href="https://github.com/JulianaAzevedo18">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-github mt-1 corIcone-square corIcones"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                        </svg>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>