<div class="row" style="margin-top: 150px;">
    <div class="col-md-12">
      <h3 class="text-center text-secondary">Resultados da busca "{{nomeProcurado}}"</h3>
    </div>
  </div>
  <hr>
  

<div class="row" style="margin-top: 150px;">
  <div class="col-lg-3 text-center" *ngFor="let item of produtos">
    <div class="p-1 flip-card">
      <div class="card mb-2 mr-3 flip-card-inner">
        <img
          class="card-img-top"
          [src]="item.imagem"
          alt="{{ item.categoria }}"
          style="border-radius: 20px"
        />
        <div class="card-body">
          <h4 class="card-title font-produtos">{{ item.nome }}</h4>
          <div class="produtos-stars">
            <img
              src="../../assets/img/stars.jpg"
              class="mx-auto d-block"
              style="width: 100px"
            />
          </div>
          <strong class="produtos-preco">R$ {{ item.preco }}</strong>
        </div>
        <div class="card flip-card-back align align-items-center">
          <a
            [routerLink]="['/perfil-produtos', item.id]"
            style="text-decoration: none; color: inherit"
          >
            <h2>{{ item.nome }}</h2>
            <p style="border: none; height: 160px">
              {{ item.descricao }}
            </p>
          </a>
          <button
            type="button"
            class="btn btn-light"
            style="width: 160px"
            (click)="adicionarCarrinho(item)"
          >
            Adicionar ao Carrinho
          </button>

          <button
                (click)="mostrarProduto(item)"
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-dismiss="modal"
                data-target="#ExemploModalCentralizado"
              >
                {{ item.nome }}
              </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="ExemploModalCentralizado"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">
          {{ produtoEsp.nome }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>
